extends ../layout/layout.pug

block append header 
    link(rel="stylesheet", href="/public/views/css/home.css")
    link(rel="stylesheet", href="/public/views/css/nav.css")
    link(rel="stylesheet", href="/public/views/css/exam-info.css")
    link(rel="icon", type="image/png", href="/public/favicon.ico")
    script(src="https://cdn.jsdelivr.net/npm/chart.js@2.9.0")


block content  
    .d-flex.justify-content-center
        #score-card.container
            .row.justify-content-center
            .card.mt-4.mx-3.overflow-auto
                if(studentExam.commonRound > 0)
                    h5.card-header.text-center <span id="username">#{student.name}</span>님의
                        |<span id='exam-round' class='hidden'>#{studentExam.round}</span>
                        |공통 #{studentExam.commonRound}회차 시험  
                else 
                    h5.card-header.text-center <span id="username">#{student.name}</span>님의 <br>
                        |<span id='exam-round'>#{studentExam.round}</span>회차 시험  
                span#student-id.hidden #{student.id}
                table.table.text-center
                    thead.fs-6
                        tr.table-active
                            //- th 시험 회차
                            th(colspan="2") 문제 1/2/3
                            th(colspan="2") 총점
                            th(colspan="2") 자세히
                            

                    tbody.table-border-bottom-0
                        tr
                            //- 공통시험일 경우     
                            td(colspan="2") #{studentExam.scores[0]}/#{studentExam.scores[1]}/#{studentExam.scores[2]}
                            td#score-sum(colspan="2") #{studentExam.scoreSum}
                            td.pb-0.pt-1(colspan="2") 
                                button#problem-info-btn.btn.btn-sm.btn-outline-secondary 자세히
                            //- td 
                                //- button#score-rule-btn.btn.btn-outline-secondary 채점기준
                    
                    thead.fs-6
                        tr.table-active
                            //- th 시험 회차
                            th(colspan="2") 전체 평균
                            th(colspan="2") 표준편차
                            th(colspan="2") 최고점
                            

                    tbody.table-border-bottom-0
                        tr
                            td(colspan="2") #{studentExam.average}
                            td(colspan="2") #{studentExam.standardDev}
                                
                            td(colspan="2") #{studentExam.topScore}
                            //- td 
                                //- button#score-rule-btn.btn.btn-outline-secondary 채점기준

                    thead.fs-6
                        tr.table-active
                            //- th 시험 회차
                            th(colspan="2") 등수
                            th(colspan="2") 백분위
                            th(colspan="2") 채점기준
                    tbody.table-border-bottom-0
                        tr
                            td(colspan="2") #{studentExam.ranking}/#{studentExam.totalTester} 
                            td(colspan="2") #{studentExam.percent}%
                            td.pb-0.pt-1(colspan="2") 
                                button#score-rule-btn.btn.btn-sm.btn-outline-secondary 채점기준
                                
                                
                    if(studentExam.seoulDept)
                        thead.fs-6
                            tr.table-active
                                th(colspan="6") 서울대 #{studentExam.seoulDept} 순위
                                    //- select#seoul-dept-select(class="form-select" aria-label=".form-select-sm") 
                                    //-     each seoulDept in seoulDeptList
                                    //-         if(seoulDept == studentExam.seoulDept)
                                    //-             option.my-dept(value=`${seoulDept}` selected) #{seoulDept} (지원)
                                    //-         else 
                                    //-             option(value=`${seoulDept}`) #{seoulDept}

                        tbody.table-border-bottom-0
                            tr
                                if(seoulDeptInfo)
                                    th(colspan="6") #{seoulDeptInfo.ranking}/#{seoulDeptInfo.tester}
                                
                    if(studentExam.yonseiDept)
                        thead.fs-6
                            tr.table-active
                                th(colspan="6") 연세대 #{studentExam.yonseiDept} 순위
                                    //- select#yonsei-dept-select(class="form-select" aria-label=".form-select-sm") 
                                    //-         each yonseiDept in yonseiDeptList
                                    //-             if(yonseiDept == studentExam.yonseiDept)
                                    //-                 option.my-dept(value=`${yonseiDept}` selected) #{yonseiDept} (지원)
                                    //-             else
                                    //-                 option(value=`${yonseiDept}`) #{yonseiDept}
                                    
                        tbody.table-border-bottom-0
                            tr
                                if(yonseiDeptInfo) 
                                    th(colspan="6") #{yonseiDeptInfo.ranking}/#{yonseiDeptInfo.tester}
                                        
                    

                //- canvas#exam-chart(data-chart=chartData) 
                if(yonseiDeptInfo || seoulDeptInfo)
                    #carouselExampleControls.carousel.carousel-dark.slide(data-bs-ride='carousel')
                        .carousel-inner
                            .carousel-item.active
                                .text-center.fs-4 전체 성적 
                                .text-end.fs-6.text-muted.me-3 최고점: #{studentExam.topScore} 평균: #{studentExam.average}
                                canvas#exam-chart.d-block.w-100(data-chart=studentExam.chartData) 
                            
                            if(seoulDeptInfo)
                                .carousel-item
                                    #seoul-dept-name.fs-4.text-center 서울대 #{studentExam.seoulDept} 성적
                                    .text-end.fs-6.text-muted.me-3 최고점: #{seoulDeptInfo.topScore} 평균: #{seoulDeptInfo.average}
                                    canvas#seoul-exam-chart.d-block.w-100(data-chart=seoulDeptInfo.chartData) 

                            if(yonseiDeptInfo) 
                                .carousel-item
                                    #yonsei-dept-name.fs-4.text-center 연세대 #{studentExam.yonseiDept} 성적 
                                    .text-end.fs-6.text-muted.me-3 최고점: #{yonseiDeptInfo.topScore} 평균: #{yonseiDeptInfo.average}
                                    canvas#yonsei-exam-chart.d-block.w-100(data-chart=yonseiDeptInfo.chartData) 

                        button.carousel-control-prev(type='button' data-bs-target='#carouselExampleControls' data-bs-slide='prev')
                            span.carousel-control-prev-icon(aria-hidden='true')
                            span.visually-hidden Previous
                        button.carousel-control-next(type='button' data-bs-target='#carouselExampleControls' data-bs-slide='next')
                            span.carousel-control-next-icon(aria-hidden='true')
                            span.visually-hidden Next
                
                else 
                    .text-center.fs-4 전체 성적 
                    .text-end.fs-6.text-muted.me-3 최고점: #{studentExam.topScore} 평균: #{studentExam.average}

                    canvas#exam-chart(data-chart=studentExam.chartData) 




block append footer 
    script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
    script(src="/public/views/js/studentExamInfo.js") 