extends ../layout/layout.pug

block append header 
    link(rel="stylesheet", href="/public/views/css/home.css")
    link(rel="stylesheet", href="/public/views/css/nav.css")
    link(rel="stylesheet", href="/public/views/css/exam-info.css")
    link(rel="icon", type="image/png", href="/public/favicon.ico")
    script(src="https://cdn.jsdelivr.net/npm/chart.js@2.9.0")


block content  
    .d-flex.justify-content-center
        #score-card.container
            .row.justify-content-center
            .card.mt-4.mx-3.overflow-auto
                if(studentInfo.commonRound > 0)
                    h5.card-header.text-center <span id="username">#{username}</span>님의
                        |<span id='exam-round' class='hidden'>#{studentInfo.round}</span>
                        |공통 #{studentInfo.commonRound}회차 시험  
                else 
                    h5.card-header.text-center <span id="username">#{username}</span>님의 <br>
                        |<span id='exam-round'>#{studentInfo.round}회차 시험</span>  
            
                table.table.text-center
                    thead.fs-6
                        tr.table-active
                            //- th 시험 회차
                            th(colspan="2") 문제 1/2/3
                            th(colspan="2") 총점
                            th(colspan="2") 자세히
                            

                    tbody.table-border-bottom-0
                        tr
                            //- 공통시험일 경우     
                            td(colspan="2") #{studentInfo.firstScore}/#{studentInfo.secondScore}/#{studentInfo.thirdScore}
                            td#score-sum(colspan="2") #{studentInfo.scoreSum}
                            td.pb-0.pt-1(colspan="2") 
                                button#problem-info-btn.btn.btn-sm.btn-outline-secondary 자세히
                            //- td 
                                //- button#score-rule-btn.btn.btn-outline-secondary 채점기준
                    
                    thead.fs-6
                        tr.table-active
                            //- th 시험 회차
                            th(colspan="2") 전체 평균
                            th(colspan="2") 표준편차
                            th(colspan="2") 최고점
                            

                    tbody.table-border-bottom-0
                        tr
                            if(studentInfo.commonRound > 0)
                                td(colspan="2") #{studentInfo.commonAverage}
                                td(colspan="2") #{studentInfo.commonStandardDev}
                                
                            else 
                                td(colspan="2") #{studentInfo.average}
                                td(colspan="2") #{studentInfo.standardDeviation}
                                
                            td(colspan="2") #{studentInfo.maxScore}
                            //- td 
                                //- button#score-rule-btn.btn.btn-outline-secondary 채점기준

                    thead.fs-6
                        tr.table-active
                            //- th 시험 회차
                            th(colspan="2") 등수
                            th(colspan="2") 백분위
                            th(colspan="2") 채점기준
                    tbody.table-border-bottom-0
                        tr
                            if(studentInfo.commonRound > 0)
                                td(colspan="2") #{studentInfo.commonRanking}/#{studentInfo.commonTester}
                                td(colspan="2") #{studentInfo.commonPercent}%
                            else 
                                td(colspan="2") #{studentInfo.ranking}/#{studentInfo.totalTester} 
                                td(colspan="2") #{studentInfo.percent}%
                            td.pb-0.pt-1(colspan="2") 
                                button#score-rule-btn.btn.btn-sm.btn-outline-secondary 채점기준
                                
                                
                    if(studentInfo.seoulDept)
                        thead.fs-6
                            tr.table-active
                                th(colspan="6") 서울대 #{studentInfo.seoulDept}과 순위
                        tbody.table-border-bottom-0
                            tr
                                if(studentInfo.seoulDeptRanking)
                                    th(colspan="6") #{studentInfo.seoulDeptRanking}/#{studentInfo.seoulDeptTester}
                                
                    if(studentInfo.yonseiDept)
                        thead.fs-6
                            tr.table-active
                                th(colspan="6") 연세대 #{studentInfo.yonseiDept}과 순위
                                    
                        tbody.table-border-bottom-0
                            tr
                                if(studentInfo.yonseiDeptRanking) 
                                    th(colspan="6") #{studentInfo.yonseiDeptRanking}/#{studentInfo.yonseiDeptTester}                 
                                        
                    

                //- canvas#exam-chart(data-chart=chartData) 
                if(studentInfo.yonseiDept || studentInfo.seoulDeptRanking)
                    #carouselExampleControls.carousel.carousel-dark.slide(data-bs-ride='carousel')
                        .carousel-inner
                            .carousel-item.active
                                .text-center.fs-4 전체 성적 
                                .text-end.fs-6.text-muted.me-3 최고점: #{studentInfo.maxScore} 평균: #{studentInfo.commonAverage}
                                canvas#exam-chart.d-block.w-100(data-chart=chartData) 
                            
                            if(studentInfo.seoulDeptRanking)
                                .carousel-item
                                    .fs-4.text-center 서울대 #{studentInfo.seoulDept}과 성적
                                    .text-end.fs-6.text-muted.me-3 최고점: #{studentInfo.seoulDeptMaxScore} 평균: #{studentInfo.seoulDeptAverage}
                                    canvas#seoul-exam-chart.d-block.w-100(data-chart=studentInfo.seoulChartData) 

                            if(studentInfo.yonseiDeptRanking) 
                                .carousel-item
                                    .fs-4.text-center 연세대 #{studentInfo.yonseiDept}과 성적 
                                    .text-end.fs-6.text-muted.me-3 최고점: #{studentInfo.yonseiDeptMaxScore} 평균: #{studentInfo.yonseiDeptAverage}
                                    canvas#yonsei-exam-chart.d-block.w-100(data-chart=studentInfo.yonseiChartData) 

                        button.carousel-control-prev(type='button' data-bs-target='#carouselExampleControls' data-bs-slide='prev')
                            span.carousel-control-prev-icon(aria-hidden='true')
                            span.visually-hidden Previous
                        button.carousel-control-next(type='button' data-bs-target='#carouselExampleControls' data-bs-slide='next')
                            span.carousel-control-next-icon(aria-hidden='true')
                            span.visually-hidden Next
                
                else 
                    .text-center.fs-4 전체 성적 
                    if(studentInfo.commonRound > 0)
                        .text-end.fs-6.text-muted.me-3 평균: #{studentInfo.commonAverage}
                    else 
                        .text-end.fs-6.text-muted.me-3 평균: #{studentInfo.average}

                    canvas#exam-chart(data-chart=chartData) 




block append footer 
    script(src="/public/views/js/studentExamInfo.js") 