extends ../layout/layout.pug

block append header 
    link(rel="stylesheet", href="../../public/views/css/home.css")
    link(rel="stylesheet", href="../../public/views/css/nav.css")

block content
    .row
        .container
            h4.text-center #{studentName} 시험 결과
            if(examList.length === 0)
                h6.text-center.mt-5 응시한 시험이 없습니다.
            ul.mt-4
                each exam in examList
                    li.col-11.d-flex.flex-justify-between.width-full.py-4.border-bottom.student-list
                        #student.col-9.col-lg-9.d-inline-block
                            if(exam.commonRound > 0)
                                #student-name.mb-1 #{exam.round}회차 시험 (공통 #{exam.commonRound}회차)
                                | #{exam.firstScore}점/#{exam.secondScore}점/#{exam.thirdScore}점 
                                | 총점:#{exam.scoreSum} 반내 등수:#{exam.ranking}등 전체 등수 :#{exam.commonRanking}등
                                if(exam.seoulDeptRanking)
                                    div 서울대 #{exam.seoulDept}: #{exam.seoulDeptRanking}등
                                if(exam.yonseiDeptRanking)
                                    div 연세대 #{exam.yonseiDept}: #{exam.yonseiDeptRanking}등
                            else  
                                #student-name.mb-1 #{exam.round}회차 시험 
                                | #{exam.firstScore}점/#{exam.secondScore}점/#{exam.thirdScore}점 
                                | 총점:#{exam.scoreSum} #{exam.ranking}등

